

.transaction-list-container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    min-height: 500px;
    background-color: #ffff;
    margin-top: 50px;
    border: 1px solid black;
    padding-left: 20px;
}
.column-1 {
    display: inline-block;
    width: 20%;
    
}
.column-2 {
    display: inline-block;
    width: 40%;
}
.row {
    margin-bottom: 20px;
}