<div class="transaction-list-container">
        <h1>Make Transfer</h1>
        <div [formGroup]="transferForm">
                <div class="row">
                        <div>
                                <label>{{ labels?.fromAccount }}</label>
                        </div>
                        <div>
                                <input type="text" formControlName="transferFrom" size="30">
                        </div>

                </div>
                <div class="row">
                        <div>
                                <label>{{ labels?.toAccount }}</label>
                        </div>
                        <div>
                                <input type="text" formControlName="transferTo" placeholder="type an account name">
                        </div>
                        <mat-error *ngIf="checkRequiredFieldValidation('transferTo')">{{labels?.transferToRequired}} </mat-error>
                        

                </div>
                <div class="row">
                        <div>
                                <label>{{ labels?.amount }}</label>
                        </div>
                        <div>
                                <input type="text" formControlName="amount" min="0.01" placeholder="specify the amount">
                        </div>
                        <mat-error *ngIf="checkRequiredFieldValidation('amount')">{{labels?.amountRequired}} </mat-error>
                        <mat-error *ngIf="checkMinimumAmountValidation('amount') && !checkPatternValidation('amount')">{{ labels?.minimumAmountMsg }} </mat-error>
                        <mat-error *ngIf="checkMaximumAmountValidation('amount') && !checkPatternValidation('amount')">{{ labels?.noEnoughBalance }} </mat-error>
                        <mat-error *ngIf="checkPatternValidation('amount')">{{ labels?.invalidValue }} </mat-error>

                </div>
                <div class="row">
                        <app-submit-button (submitForm)="submitForm()"></app-submit-button>
                </div>

        </div>

</div>