
// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$white: #fff;
$blue: #0000ff;
$lightGray: #cccccc;
$black: #000;
$orange: orange;
$lightGray1: #f4f4f4;
$lightGray2: #e2e2e2;
